extends ../layout

block content
    h1 Details for #{quiz.name}
    h5 Description
    p= quiz.description
    h2 Questions
    - each question in quiz.questions
        h3= question.name
        p= question.description
        table.table.table-striped
            thead
                tr
                    th Time submitted
                    th User
                    th Alternative chosen
                    th Is correct?
            tbody
                -each answer in question.answers
                    tr
                        td= answer.created
                        td= answer.owner
                        td= answer.answer
                        td= answer.isCorrect


