extends ../layout

block content
    h1 Details for #{quiz.name}
    p= quiz.description
    - each question in quiz.questions
        h3= question.name
        p= question.description
        table.table.table-striped
            thead
                tr
                    th Time submitted
                    th Username
                    th Email
                    th Alternative chosen
                    th Is correct?
            tbody
                -each answer in question.answers
                    tr
                        td= answer.created
                        td= answer.owner.local.username
                        td= answer.owner.local.email
                        td= answer.answer
                        td= answer.isCorrect
